body {
    font-family: Arial, sans-serif;
    background-color: pink;
}

#header-section {
    text-align: center;
}

#header-section h1 {
    margin-bottom: 0;
}

#header-section h2 {
    margin-top: 0;
    margin-bottom: 50px;
}

#player-turn {
    text-align: center;
    padding: 2px;
    background-color:white;
    width: 20%;
    margin: auto;
    font-size: 20px;
}

.grid-container-ttt {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    padding: 5px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.8);
}

.grid-item-ttt {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    height: 30px;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.game-over-container {
    text-align: center;
    align-items: center;
    background-color: white;
    width : 25%;
    margin: auto;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.8);
    z-index: 5;
    display: none;
    position: fixed;
}

.reset-button { 
 margin-left: 80%;
}

.reset-button button { 
 padding: 20px;
 background-color: rgb(250, 46, 46);
 color: white;
 font-size: 20px;
 font-weight: bold;
 border: 3px solid black;
 border-radius: 10%;
 cursor: pointer;
}
   
#secret-section {
   position: fixed;
   bottom: 0;
   width: 50%;
   left: 50%;
   transform: translateX(-50%);
   margin: auto;
   text-align: center;
   background-color: lightblue;
   opacity: 0;
}